Repository hmcts/ccd-case-document-am-api, pull requests merged in 2020-02, with the labels that each got.

#38 Test branch
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/document/am/befta/CaseDocumentAmTestAutomationAdapter.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/document/am/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/document/am/controllers/CaseDocumentAmControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/apihelper/ApiOriginFilter.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controllers/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controllers/endpoints/CasesApi.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controllers/endpoints/CasesApiController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/CaseDocumentMetadata.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/Document.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/DocumentPayloadBody.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/ErrorMap.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/Link.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/MetadataSearchCommand.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/ResourceSupport.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/StoredDocumentHalResource.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/StoredDocumentHalResourceCollection.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/UpdateDocumentCommand.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/util/Swagger2SpringBoot.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
  src/smokeTest/java/uk/gov/hmcts/reform/ccd/document/am/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/WelcomeTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controllers/endpoints/S2SAuthenticationTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-38

#36 AM-504-Exception handling supporting classes
  build.gradle
  charts/ccd-case-document-am-api/Chart.yaml
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controllers/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controllers/advice/CaseDocumentControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controllers/advice/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controllers/advice/ErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controllers/advice/exception/ErrorPersistingException.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controllers/advice/exception/InvalidRequest.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controllers/advice/exception/RequiredFieldMissingException.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controllers/advice/exception/ResourceNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controllers/advice/exception/UnauthorizedException.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controllers/advice/exception/UndefinedException.java
  src/smokeTest/java/uk/gov/hmcts/reform/ccd/document/am/SmokeTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-36

#41 Am 447 create security setup
  Dockerfile
  Jenkinsfile_CNP
  build.gradle
  charts/ccd-case-document-am-api/values.preview.template.yaml
  charts/ccd-case-document-am-api/values.yaml
  config/owasp/suppressions.xml
  docker-compose.yml
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/saat.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/Application.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-41

#45 AM-449- Run application on container.
  Dockerfile
  build.gradle
  docker-compose.yml
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/Link.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/ResourceSupport.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/StoredDocumentHalResource.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/StoredDocumentHalResourceCollection.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/util/JsonFeignResponseHelper.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-45

#46 Test branch
  Jenkinsfile_CNP
  charts/ccd-case-document-am-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-46

#55 Am 483 endpoint for file upload
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  charts/ccd-case-document-am-api/values.preview.template.yaml
  charts/ccd-case-document-am-api/values.yaml
  docker-compose.yml
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/variables.tf
  lib/befta-fw-1.0.9-SNAPSHOT.jar
  src/functionalTest/java/uk/gov/hmcts/ccd/documentam/befta/CaseDocumentAmBeftaMain.java
  src/functionalTest/java/uk/gov/hmcts/ccd/documentam/befta/CaseDocumentAmTestAutomationAdapter.java
  src/functionalTest/java/uk/gov/hmcts/ccd/documentam/befta/CaseDocumentApiBeftaRunner.java
  src/functionalTest/java/uk/gov/hmcts/ccd/documentam/befta/TestDataLoaderMain.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/document/am/befta/CaseDocumentAmBeftaMain.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/document/am/befta/CaseDocumentAmTestAutomationAdapter.java
  src/functionalTest/java/uk/gov/hmcts/reform/ccd/document/am/befta/CaseDocumentAmTestDataLoader.java
  src/functionalTest/resources/SampleImage.png
  src/functionalTest/resources/features/F-000/F-000.feature
  src/functionalTest/resources/features/F-000/S-000-Base-Root.td.json
  src/functionalTest/resources/features/F-000/S-000-Base-Success.td.json
  src/functionalTest/resources/features/F-000/S-000-Test-Base-data.td.json
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/F-001_Test_Base_data.td.json
  src/functionalTest/resources/features/F-001/S-001.td.json
  src/functionalTest/resources/features/F-037/F-037.feature
  src/functionalTest/resources/features/F-037/F-037_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-037/S-577-Prerequisite_Solicitor_1_Token_For_Update_Case.td.json
  src/functionalTest/resources/features/F-037/S-577-Prerequisite_Solicitor_2_Token_For_Update_Case.td.json
  src/functionalTest/resources/features/F-037/S-577-Prerequisite_Solicitor_3_Token_For_Update_Case.td.json
  src/functionalTest/resources/features/F-037/S-577.td.json
  src/functionalTest/resources/features/F-037/S-577_Get_Case_For_Case_Worker_Data_Base.td.json
  src/functionalTest/resources/features/F-037/S-577_Later_Case_Read_By_Solicitor_1.td.json
  src/functionalTest/resources/features/F-037/S-577_Later_Case_Read_By_Solicitor_3.td.json
  src/functionalTest/resources/features/F-037/S-577_Later_Case_Update_By_Solicitor_1.td.json
  src/functionalTest/resources/features/F-037/S-577_Later_Case_Update_By_Solicitor_3.td.json
  src/functionalTest/resources/features/F-037/S-577_Response_Data_Base.td.json
  src/functionalTest/resources/features/F-037/S-577_Response_Data_Classification.td.json
  src/functionalTest/resources/features/F-037/S-577_Response_Data_Common.td.json
  src/functionalTest/resources/features/F-037/S-577_Update_Case_For_Case_Worker_Data_Base.td.json
  src/functionalTest/resources/features/F-053/F-053.feature
  src/functionalTest/resources/features/F-053/F-053_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-053/S-578-Prerequisite_Citizen_Token_For_Update_Case.td.json
  src/functionalTest/resources/features/F-053/S-578.td.json
  src/functionalTest/resources/features/F-053/S-578_Later_Case_Update_By_Citizen.td.json
  src/functionalTest/resources/features/F-053/S-578_Update_Case_For_Citizen_Data_Base.td.json
  src/functionalTest/resources/features/common/case_document/Common_Response_Body_Document_Base.td.json
  src/functionalTest/resources/features/common/case_document/Common_Response_Header_Base.td.json
  src/functionalTest/resources/features/common/case_document/Default_Document_Upload_Data.td.json
  src/functionalTest/resources/features/common/case_document/Default_Document_Upload_Data_Base.td.json
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/resources/application.yaml
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-55

#49 AM-485- Implementation of Get binary content API.
  docker-compose.yml
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/Application.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/FeignClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/feign/CaseDataStoreFeignClient.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/feign/DocumentStoreFeignClient.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/CaseDocumentMetadata.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/StoredDocumentHalResource.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/util/JsonFeignResponseHelper.java
  src/main/resources/application.yaml
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-49

#59 AM-482 : Tests for AM-457 - Fixed and added new JUnit tests
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-59

#67 Am 485 implement download document binarycontent from doc store api
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/CaseDocumentMetadata.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-67
