Repository hmcts/ccd-case-document-am-api, pull requests merged in 2020-01, with the labels that each got.

#19 Test branch
  .travis.yml
  build.gradle
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/WelcomeTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-19

#13 Disabling the swagger publisher integration test for now. Need to enable it again.
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/document/am/config/SwaggerPublisher.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-13

#25 Updated GetWelcomeTest
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/document/am/controllers/GetWelcomeTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-25

#26 Adding the infrastructure variables for IDAM.
  Jenkinsfile_CNP
  charts/ccd-case-document-am-api/values.yaml
  docker-compose.yml
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-26

#23 AM-447 Branch: Added S2S security Authentication
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controllers/CaseDocumentAmController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controllers/endpoints/S2SAuthenticationTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-23

#31 AM-447- Separate S2S authentication endpoint in new controller.
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controllers/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controllers/endpoints/S2SAuthentication.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-31
