Repository hmcts/ccd-case-document-am-api, pull requests merged in 2020-03, with the labels that each got.

#70 AM-485- Code Refactor from controller to service layer.
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/advice/exception/BadRequestException.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/advice/exception/CaseNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/advice/exception/UnauthorizedException.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/CaseDataStoreService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-70

#65 Am 457 api download implement fetch document binary content from doc store
  Jenkinsfile_CNP
  charts/ccd-case-document-am-api/values.preview.template.yaml
  docker-compose.yml
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/Application.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/FeignClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/advice/exception/BadRequestException.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/advice/exception/CaseNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/advice/exception/UnauthorizedException.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/feign/CaseDataStoreFeignClient.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/feign/DocumentStoreFeignClient.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/CaseDocumentMetadata.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/StoredDocumentHalResource.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/CaseDataStoreService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/util/JsonFeignResponseHelper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-65

#73 Am 575 swagger enable
  build.gradle
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/StoredDocumentHalResource.java
  src/main/resources/application.yaml
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-73

#74 AM-572- Fixed response status code defect.
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/advice/exception/ResourceNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-74

#75 Implementation Mutation Testing
  build.gradle
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-75

#77 AM-573- apply the permission on getDocument Meta data API.
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/advice/exception/CaseNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/advice/exception/ForbiddenException.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/StoredDocumentHalResource.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-77

#81 Am 582 conversion of feign client to rest template
  Jenkinsfile_CNP
  charts/ccd-case-document-am-api/values.preview.template.yaml
  charts/ccd-case-document-am-api/values.yaml
  config/owasp/suppressions.xml
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/advice/exception/ServiceException.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/util/ResponseHelper.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/util/SecurityUtils.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-81

#82 AM-581-JUnit-code-coverage_new
  config/owasp/suppressions.xml
  lombok.config
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/WelcomeTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/advice/CaseDocumentControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/DocumentPayloadBodyTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/ErrorMapTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/MetadataSearchCommandTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/StoredDocumentHalResourceCollectionTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/StoredDocumentHalResourceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/UpdateDocumentCommandTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/enums/SecurityClassificationTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationServiceTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-82

#89 Am 584 s2 s authentication issue at pr env
  Jenkinsfile_CNP
  charts/ccd-case-document-am-api/values.preview.template.yaml
  charts/ccd-case-document-am-api/values.yaml
  config/owasp/suppressions.xml
  docker-compose.yml
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-89

#88 AM-457: Case Document AM API-Download - document binary content functional tests
  src/functionalTest/resources/features/F-002/F-002-Base-Root.td.json
  src/functionalTest/resources/features/F-002/F-002.feature
  src/functionalTest/resources/features/F-002/F-002_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-002/S-020.td.json
  src/functionalTest/resources/features/F-002/S-021.td.json
  src/functionalTest/resources/features/F-002/S-022.td.json
  src/functionalTest/resources/features/F-002/S-023.td.json
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-88

#80 Am 578 upload document api
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  infrastructure/output.tf
  infrastructure/variables.tf
  src/functionalTest/resources/features/F-000/F-000.feature
  src/functionalTest/resources/features/F-000/S-000-Test-Base-data.td.json
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/functionalTest/resources/features/F-002/S-020.td.json
  src/functionalTest/resources/features/F-002/S-021.td.json
  src/functionalTest/resources/features/F-002/S-022.td.json
  src/functionalTest/resources/features/F-002/S-023.td.json
  src/functionalTest/resources/features/common/case_document/Common_Response_Body_Document_Base.td.json
  src/functionalTest/resources/features/common/case_document/Default_Document_Upload_Data_Base.td.json
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/advice/exception/ResponseFormatException.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAm.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/StoredDocumentHalResource.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/util/ApplicationUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationServiceTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-80

#94 AM-587: endpoint integration
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAm.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/CaseDocumentMetadata.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/Document.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/StoredDocumentHalResource.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/CaseDataStoreService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-94

#93 AM-509-test case added for Patch Document
  src/functionalTest/resources/features/F-005/F-005.feature
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-93

#83 AM-449 Get Document Metadata by Document ID
  src/functionalTest/resources/features/F-001/F-001-Base-Root.td.json
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/F-001_Test_Base_data.td.json
  src/functionalTest/resources/features/F-001/S-001.td.json
  src/functionalTest/resources/features/F-001/S-002.td.json
  src/functionalTest/resources/features/F-001/S-003.td.json
  src/functionalTest/resources/features/F-001/S-004.td.json
  src/functionalTest/resources/features/common/case_document/Default_Document_Upload_Data.td.json
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-83

#98 Am 581 junit sonar coverage and code smells
  build.gradle
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAm.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/advice/CaseDocumentControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-98

#100 Fixing the functional test case.
  .travis.yml
  src/functionalTest/resources/features/F-000/F-000.feature
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/functionalTest/resources/features/common/case_document/Common_Response_Body_Document_Base.td.json
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yaml
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-100

#101 Gradle version update
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-101

#106 Fixed the DM store URL.
  Jenkinsfile_CNP
  charts/ccd-case-document-am-api/values.preview.template.yaml
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-106

#107 Fixed the DM store URL.
  Jenkinsfile_CNP
  charts/ccd-case-document-am-api/values.preview.template.yaml
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-107

#87 AM-559-Test Case for Upload document(binary content)
  src/functionalTest/resources/features/F-004/F-004-Base-Root.td.json
  src/functionalTest/resources/features/F-004/F-004.feature
  src/functionalTest/resources/features/F-004/F-004_Test_Base_data.td.json
  src/functionalTest/resources/features/F-004/S-041.td.json
  src/functionalTest/resources/features/F-004/S-042.td.json
  src/functionalTest/resources/features/F-004/S-043.td.json
  src/functionalTest/resources/features/F-004/S-044.td.json
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-87

#108 Removing the "/documents" from the Doc store Base URI.
  Jenkinsfile_CNP
  charts/ccd-case-document-am-api/values.preview.template.yaml
  charts/ccd-case-document-am-api/values.yaml
  docker-compose.yml
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/FeignClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/FeignHeaderConfig.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/feign/CaseDataStoreFeignClient.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/feign/DocumentStoreFeignClient.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-108

#115 Am 481 implement get hashed token api
  src/functionalTest/resources/features/F-006/F-006.feature
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAm.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationService.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-115

#112 Am 525 attach document to case
  src/functionalTest/resources/features/F-007/F-007.feature
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAm.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/DocumentMetadata.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/DocumentUpdate.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/CaseDataStoreService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImplTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-112

#114 Am 534 implement delete document api
  src/functionalTest/resources/features/F-003/F-003.feature
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAm.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-114

#111 Am 509 patch ttl document api dev
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAm.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/UpdateDocumentCommand.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/UpdateDocumentCommandTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-111

#118 AM-509 Patch TTL API - fixes
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationService.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-118

#120 Updated the attach logic.
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-120

#121 AM-481 - validation fixes, null message for null inputs
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationService.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-121

#126 Am 620 enable user token
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/S2SAuthentication.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-126

#128 Fixing the Sonar Vulnerability.
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-128

#125 Am 534 function test delete api am 539
  src/functionalTest/resources/features/F-003/F-003.feature
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-125

#129 AM-620 Added IDAM_USER_URL for PR env.
  charts/ccd-case-document-am-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/S2SAuthentication.java
  src/main/resources/application.yaml
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-129

#130 Am 525 upload document code fixes
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-130

#131 Am 620 enable user token
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/utils/IdamUtils.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-131

#135 AM-481 - Hotfix for getHashCode api
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAm.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-135

#119 AM-609_Fix_Sonar_Issues
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/Application.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAm.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/S2SAuthentication.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/DocumentPayloadBody.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/StoredDocumentHalResourceCollection.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/util/ApplicationUtils.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/util/ResponseHelper.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/util/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/util/Swagger2SpringBoot.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/WelcomeTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/DocumentPayloadBodyTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/ErrorMapTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/MetadataSearchCommandTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-119
