Repository hmcts/ccd-case-document-am-api, pull requests merged in 2020-04, with the labels that each got.

#124 Am 596 - Test Coverage
  build.gradle
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-124

#144 Am 624 fixing sonar vulnerabilities due sensitive header fields
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/StoredDocumentHalResource.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/CaseDataStoreService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/util/SecurityUtils.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-144

#149 AM-481: Exception code alignment for hash-token api
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-149

#148 Am-628 Test Case fixes
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-148

#147 AM-630 : Fix Sonar Security Issues
  build.gradle
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/util/Swagger2SpringBoot.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-147

#155 Am-588: Fixing the response code.
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/DocumentMetadata.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-155

#156 Am 629 add salt to hashing
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-156

#157 AM-629 - added 'salt' like change to hash token for doc mgmt service
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-157

#132 AM-607: Smoke Tests with Authorization
  Jenkinsfile_CNP
  charts/ccd-case-document-am-api/values.preview.template.yaml
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/ccd/document/am/BaseTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/ccd/document/am/SmokeTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-132

#153 Tidy up and other improvements as per changes in DM store.
  build.gradle
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/smokeTest/java/uk/gov/hmcts/reform/ccd/document/am/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/ErrorMapTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/MetadataSearchCommandTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/StoredDocumentHalResourceCollectionTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/UpdateDocumentCommandTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/util/ResponseHelperTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/util/SecurityUtilsTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-153

#161 Attach api changes as per case data store
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAm.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/CaseDocumentMetadata.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/CaseDocumentsMetadata.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/Document.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/DocumentHashToken.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/DocumentMetadata.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/DocumentPermissions.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/CaseDataStoreService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/smokeTest/java/uk/gov/hmcts/reform/ccd/document/am/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-161

#166 Befta url update
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/functionalTest/resources/features/common/case_document/Common_Response_Body_Document_Base.td.json
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-166

#154 AM-525: Attach to document functional tests
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/ccd/documentam/befta/CaseDocumentAmTestAutomationAdapter.java
  src/functionalTest/resources/features/F-004/S-040.td.json
  src/functionalTest/resources/features/F-004/S-048.td.json
  src/functionalTest/resources/features/F-007/F-007-Base-Root.td.json
  src/functionalTest/resources/features/F-007/F-007-Upload_Document1.td.json
  src/functionalTest/resources/features/F-007/F-007-Upload_Document2.td.json
  src/functionalTest/resources/features/F-007/F-007-Upload_Document3.td.json
  src/functionalTest/resources/features/F-007/F-007.feature
  src/functionalTest/resources/features/F-007/F-007_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-007/S-070.td.json
  src/functionalTest/resources/features/F-007/S-071.td.json
  src/functionalTest/resources/features/F-007/S-072.td.json
  src/functionalTest/resources/features/F-007/S-073.td.json
  src/functionalTest/resources/features/F-007/S-075.td.json
  src/functionalTest/resources/features/F-007/S-077.td.json
  src/functionalTest/resources/features/F-007/S-078.td.json
  src/functionalTest/resources/features/F-007/S-079.td.json
  src/functionalTest/resources/features/common/case_document/Default_Document_Upload_Data.td.json
  src/functionalTest/resources/features/common/case_document/Default_Document_Upload_Data_Base.td.json
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-154

#171 Am 646 funcitonal testing automation
  src/functionalTest/java/uk/gov/hmcts/ccd/documentam/befta/CaseDocumentAmTestAutomationAdapter.java
  src/functionalTest/resources/features/F-000/F-000.feature
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-002/F-002.feature
  src/functionalTest/resources/features/F-003/F-003-Base-Root.td.json
  src/functionalTest/resources/features/F-003/F-003.feature
  src/functionalTest/resources/features/F-003/F-003_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-003/S-031.td.json
  src/functionalTest/resources/features/F-003/S-032.td.json
  src/functionalTest/resources/features/F-003/S-033.td.json
  src/functionalTest/resources/features/F-003/S-034.td.json
  src/functionalTest/resources/features/F-004/F-004.feature
  src/functionalTest/resources/features/F-005/F-005-Base-Root.td.json
  src/functionalTest/resources/features/F-005/F-005.feature
  src/functionalTest/resources/features/F-005/F-005_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-005/S-051.td.json
  src/functionalTest/resources/features/F-005/S-052.td.json
  src/functionalTest/resources/features/F-005/S-053.td.json
  src/functionalTest/resources/features/F-005/S-054.td.json
  src/functionalTest/resources/features/F-005/S-055.td.json
  src/functionalTest/resources/features/F-006/F-006-Base-Root.td.json
  src/functionalTest/resources/features/F-006/F-006.feature
  src/functionalTest/resources/features/F-006/F-006_Test_Base_data.td.json
  src/functionalTest/resources/features/F-006/S-061.td.json
  src/functionalTest/resources/features/F-006/S-062.td.json
  src/functionalTest/resources/features/F-006/S-063.td.json
  src/functionalTest/resources/features/F-006/S-064.td.json
  src/functionalTest/resources/features/F-006/S-064_Attach_Case_Id.td.json
  src/functionalTest/resources/features/F-006/S-064_Get_Hash_Token.td.json
  src/functionalTest/resources/features/F-007/F-007.feature
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-171

#173 Attach api fix
  .travis.yml
  src/functionalTest/resources/features/F-006/S-064_Attach_Case_Id.td.json
  src/functionalTest/resources/features/F-007/S-070.td.json
  src/functionalTest/resources/features/F-007/S-071.td.json
  src/functionalTest/resources/features/F-007/S-079.td.json
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/advice/exception/ForbiddenException.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-173

#168 Am 650 service authorisation development
  .travis.yml
  Jenkinsfile_CNP
  build.gradle
  charts/ccd-case-document-am-api/values.preview.template.yaml
  charts/ccd-case-document-am-api/values.yaml
  docker-compose.yml
  infrastructure/variables.tf
  src/functionalTest/java/uk/gov/hmcts/ccd/documentam/befta/CaseDocumentAmTestAutomationAdapter.java
  src/functionalTest/resources/features/F-003/S-034.td.json
  src/functionalTest/resources/features/F-005/F-005.feature
  src/functionalTest/resources/features/F-005/S-052.td.json
  src/functionalTest/resources/features/F-005/S-053.td.json
  src/functionalTest/resources/features/F-005/S-054.td.json
  src/functionalTest/resources/features/F-006/F-006_Test_Base_data.td.json
  src/functionalTest/resources/features/F-006/S-062.td.json
  src/functionalTest/resources/features/F-007/S-071.td.json
  src/functionalTest/resources/features/F-007/S-072.td.json
  src/functionalTest/resources/features/F-007/S-073.td.json
  src/functionalTest/resources/features/F-007/S-075.td.json
  src/functionalTest/resources/features/F-007/S-077.td.json
  src/functionalTest/resources/features/F-007/S-078.td.json
  src/functionalTest/resources/features/F-008/F-008.feature
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/AuthorisedService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/AuthorisedServices.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/CaseDocumentMetadata.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/model/enums/Permission.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/util/ResponseHelper.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/util/SecurityUtils.java
  src/main/resources/application.yaml
  src/main/resources/service_config.json
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/util/ResponseHelperTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-168

#179 AM-425 - removed unnecessary suppressions
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/document/am/config/SwaggerPublisher.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/Application.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/util/ResponseHelper.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/StoredDocumentHalResourceCollectionTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-179

#183 Clean up code
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/CaseDataStoreServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-183

#184 AM-553 : JUnit tests - new tests and code refactoring
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/common/ValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-184

#181 Added travis to slack notifications config
  .travis.yml
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-181

#186 xui_webapp env variables
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/ccd/documentam/befta/CaseDocumentAmTestAutomationAdapter.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-186

#188 Am 646 funcitonal testing automation
  Jenkinsfile_CNP
  charts/ccd-case-document-am-api/values.preview.template.yaml
  src/functionalTest/resources/features/F-000/F-000.feature
  src/functionalTest/resources/features/F-000/S-000-Base-Root.td.json
  src/functionalTest/resources/features/F-000/S-000-Base-Success.td.json
  src/functionalTest/resources/features/F-000/S-000-Test-Base-data.td.json
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/functionalTest/resources/features/F-001/F-001-Base-Root.td.json
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/S-001.td.json
  src/functionalTest/resources/features/F-001/S-001_Case_Create.td.json
  src/functionalTest/resources/features/F-001/S-002.td.json
  src/functionalTest/resources/features/F-001/S-003.td.json
  src/functionalTest/resources/features/F-001/S-004.td.json
  src/functionalTest/resources/features/F-001/S-004_Case_Create.td.json
  src/functionalTest/resources/features/F-002/F-002-Base-Root.td.json
  src/functionalTest/resources/features/F-002/F-002.feature
  src/functionalTest/resources/features/F-002/S-020.td.json
  src/functionalTest/resources/features/F-002/S-020_Case_Create.td.json
  src/functionalTest/resources/features/F-002/S-021.td.json
  src/functionalTest/resources/features/F-002/S-022.td.json
  src/functionalTest/resources/features/F-002/S-023.td.json
  src/functionalTest/resources/features/F-002/S-023_Case_Create.td.json
  src/functionalTest/resources/features/F-005/S-051.td.json
  src/functionalTest/resources/features/common/case/befta-jurisdiction2-case-creation/Befta_Jurisdiction2_Case_Creation_Base_Data.td.json
  src/functionalTest/resources/features/common/case/befta-jurisdiction2-case-creation/Befta_Jurisdiction2_Default_Full_Case_Creation_Data.td.json
  src/functionalTest/resources/features/common/case/befta-jurisdiction2-case-creation/Befta_Jurisdiction2_Default_Full_Case_Data_Security_Classification_Single_Document.td.json
  src/functionalTest/resources/features/common/case/befta-jurisdiction2-case-creation/Befta_Jurisdiction2_Default_Full_Case_Response_Single_Document.td.json
  src/functionalTest/resources/features/common/case/befta-jurisdiction2-case-creation/Befta_Jurisdiction2_Default_Full_Case_With_Single_Document.td.json
  src/functionalTest/resources/features/common/case/befta-jurisdiction2-case-creation/Befta_Jurisdiction2_Default_Token_Creation_Data_For_Case_Creation.td.json
  src/functionalTest/resources/features/common/case_document/Common_Response_Body_Document_Base.td.json
  src/functionalTest/resources/features/common/case_document/Default_Document_Upload_Data.td.json
  src/main/resources/service_config.json
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-188

#194 Create case header fix
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-194

#200 Checkin to deploy the application to PR, followed by AAT.
  Jenkinsfile_CNP
  infrastructure/.terraform-version
  infrastructure/README.md
  infrastructure/main.tf
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-200

#201 Terraform version update- development branch.
  infrastructure/main.tf
  src/functionalTest/resources/features/F-001/S-001.td.json
  src/main/resources/application.yaml
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-201

#204 AM-704 - increased the mutation coverage by adding tests.
  build.gradle
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/DocumentPayloadBodyTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/ErrorMapTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/MetadataSearchCommandTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/StoredDocumentHalResourceCollectionTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/StoredDocumentHalResourceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/model/UpdateDocumentCommandTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/util/SecurityUtilsTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-204
