Repository hmcts/ccd-case-document-am-api, pull requests merged in 2020-05, with the labels that each got.

#190 Am-588: Temp checkin. DO NOT MERGE
  src/main/resources/service_config.json
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-190

#205 Service Auth minor issue
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-205

#216 Master terraform fix
  Jenkinsfile_CNP
  charts/ccd-case-document-am-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  infrastructure/main.tf
  src/functionalTest/java/uk/gov/hmcts/ccd/documentam/befta/CaseDocumentAmTestAutomationAdapter.java
  src/functionalTest/resources/features/F-001/S-001.td.json
  src/main/resources/application.yaml
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-216

#219 Master terraform fix
  src/smokeTest/java/uk/gov/hmcts/reform/ccd/document/am/SmokeTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-219

#224 Swagger s2s api removal
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/endpoints/S2SAuthentication.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-224

#226 Updating the chart version.
  charts/ccd-case-document-am-api/Chart.yaml
  charts/ccd-case-document-am-api/values.aat.template.yaml
  charts/ccd-case-document-am-api/values.preview.template.yaml
  charts/ccd-case-document-am-api/values.yaml
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-226

#227 Healthcheck fixes.
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/document/am/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/AliasWebConfig.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/WelcomeController.java
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/WelcomeTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-227

#231 Healthcheck fixes.
  Jenkinsfile_CNP
  charts/ccd-case-document-am-api/values.aat.template.yaml
  charts/ccd-case-document-am-api/values.preview.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/document/am/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/controller/WelcomeController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/document/am/controller/WelcomeTest.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-231

#234 updating the Jenkins file.
  Jenkinsfile_CNP
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-234

#237 Bumping the chart version.
  charts/ccd-case-document-am-api/Chart.yaml
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-237

#239 disabling the installCharts goal.
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-239

#240 removing unnecessary fields in swagger
  src/main/java/uk/gov/hmcts/reform/ccd/document/am/configuration/SwaggerConfiguration.java
Labels: ns:ccd, rel:ccd-case-document-am-api-pr-240
