Repository hmcts/ccd-case-document-am-api, pull requests merged in 2021-09, with the labels that each got.

#480 RDM-12771 - fix upload endpoint audit logging and update tests
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/CaseDocumentAmControllerIT.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/aop/AuditAspect.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-480

#477 RDM-12766 - empty file content can now be passed to dm-store
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/CaseDocumentAmControllerIT.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/client/dmstore/DocumentStoreClient.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/client/dmstore/DocumentStoreClientTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-477

#479 CCD-1879 Resolve CVE-2021-28170
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-479

#482 CCD-1940 : updated caseTypeId as requested
  charts/ccd-case-document-am-api/Chart.yaml
  charts/ccd-case-document-am-api/values.yaml
  src/main/resources/application.yaml
  src/main/resources/service_config.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-482

#484 Updated CDAM config for Stitching API
  charts/ccd-case-document-am-api/Chart.yaml
  charts/ccd-case-document-am-api/values.yaml
  src/main/resources/service_config.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-484

#486 Added cmc_claim_store to config
  charts/ccd-case-document-am-api/Chart.yaml
  charts/ccd-case-document-am-api/values.yaml
  src/main/resources/application.yaml
  src/main/resources/service_config.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-486

#489 Updated CVE suppression dates in suppressions.xml to 25/10/2021
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-489

#487 feat:white list civil for case documents
  charts/ccd-case-document-am-api/Chart.yaml
  charts/ccd-case-document-am-api/values.yaml
  src/main/resources/application.yaml
  src/main/resources/service_config.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-487
