Repository hmcts/ccd-case-document-am-api, pull requests merged in 2021-07, with the labels that each got.

#433 CCD-1343- Missing MetaData when reaching case-doc-am-api
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/CaseDocumentAmControllerIT.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-433

#435 removed data-store PR reference and added sscs to s2s
  charts/ccd-case-document-am-api/Chart.yaml
  charts/ccd-case-document-am-api/values.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-435

#436 fixing upload links
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/CaseDocumentAmControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/fixtures/WiremockFixtures.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/client/dmstore/DmUploadResponse.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/Document.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/UploadResponse.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-436

#425 RDM-12558 - Remove TTL on document when meta-data is updated
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/fixtures/WiremockFixtures.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/UpdateDocumentsCommand.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-425

#437 fixed FTs
  src/functionalTest/resources/features/common/case/befta-jurisdiction2-case-creation/Befta_Jurisdiction2_Default_Full_Case_With_Single_Document.td.json
  src/functionalTest/resources/features/common/case_document/Common_Response_Body_Document_Base.td.json
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/Document.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-437

#431 RDM-12643 Refactor controller
  build.gradle
  src/functionalTest/resources/features/F-004/S-041.td.json
  src/functionalTest/resources/features/F-004/S-042.td.json
  src/functionalTest/resources/features/F-004/S-043.td.json
  src/functionalTest/resources/features/F-004/S-044.td.json
  src/functionalTest/resources/features/F-004/S-045.td.json
  src/functionalTest/resources/features/F-004/S-046.td.json
  src/functionalTest/resources/features/F-007/S-076.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/CaseDocumentAmControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/fixtures/WiremockFixtures.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/controller/advice/CaseDocumentControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/dto/DocumentUploadRequest.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/dto/validation/ClassificationValue.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/dto/validation/ClassificationValueValidator.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/CaseDocumentsMetadata.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/controller/advice/CaseDocumentControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-431

#442 suppress cve
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-442

#445 configured document ttl default value as 7 days
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-445

#446 Cache config fix
  build.gradle
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/configuration/CacheConfiguration.java
  src/main/resources/application.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-446

#443 fix for CVE-2021-27568
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-443

#444 CCD-1588 - fortify implementation
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-444

#447 fix for CVE-2021-33037
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-447

#432 Rdm 12573
  config/owasp/suppressions.xml
  src/functionalTest/resources/features/F-001/S-002.td.json
  src/functionalTest/resources/features/F-002/S-021.td.json
  src/functionalTest/resources/features/F-003/F-003_Get_Document_with_404.td.json
  src/functionalTest/resources/features/F-005/S-055.td.json
  src/functionalTest/resources/features/F-006/S-063.td.json
  src/functionalTest/resources/features/F-007/S-071.td.json
  src/functionalTest/resources/features/F-007/S-072.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/CaseDocumentAmControllerIT.java
  src/integrationTest/resources/application-itest.yaml
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/exception/ForbiddenException.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-432

#441 RDM-12663 WIP, clean up service layer
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/resources/features/F-001/S-004.td.json
  src/functionalTest/resources/features/F-002/S-023.td.json
  src/functionalTest/resources/features/F-004/S-041.td.json
  src/functionalTest/resources/features/F-004/S-043.td.json
  src/functionalTest/resources/features/F-004/S-045.td.json
  src/functionalTest/resources/features/F-004/S-046.td.json
  src/functionalTest/resources/features/F-005/F-005.feature
  src/functionalTest/resources/features/F-005/S-051.td.json
  src/functionalTest/resources/features/F-005/S-052.td.json
  src/functionalTest/resources/features/F-005/S-053.td.json
  src/functionalTest/resources/features/F-005/S-054.td.json
  src/functionalTest/resources/features/F-005/S-055.td.json
  src/functionalTest/resources/features/F-005/S-122.td.json
  src/functionalTest/resources/features/F-005/S-123.td.json
  src/functionalTest/resources/features/F-005/S-124.td.json
  src/functionalTest/resources/features/F-007/S-073.td.json
  src/functionalTest/resources/features/F-007/S-074.td.json
  src/functionalTest/resources/features/F-007/S-075.td.json
  src/functionalTest/resources/features/F-007/S-076.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/TestSecurityUtilsConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/client/RestTemplateHeaderModifierInterceptorIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/CaseDocumentAmControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/fixtures/WiremockFixtures.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/client/RestTemplateHeaderModifierInterceptor.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/configuration/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/controller/advice/CaseDocumentControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/dto/DocumentUploadRequest.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/dto/validation/ClassificationValue.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/CaseDocumentsMetadata.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/DmTtlRequest.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/DocumentHashToken.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/DocumentPermissions.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/DocumentUpdate.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/UpdateDocumentCommand.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/UpdateDocumentsCommand.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/UpdateTtlRequest.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/UploadDocumentsCommand.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/CaseDataStoreServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/util/DocumentIdsExtractor.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/TestFixture.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/AuditLogFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/AuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/aop/AuditAspectTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/aop/ExpressionEvaluatorTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/client/RestTemplateHeaderModifierInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/controller/advice/CaseDocumentControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/model/UpdateDocumentCommandTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/CaseDataStoreServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/util/DocumentIdsExtractorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-441

#448 nightly-CCD-1588 - update fortify release version to 1.2.0
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-448

#450 added a flag to to control rest api endpoints
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/CaseDocumentAmController.java
  src/main/resources/application.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-450

#451 added few divorce case types to the moving list
  src/main/resources/application.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-451

#454 http timeout configs
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/configuration/ApplicationConfiguration.java
  src/main/resources/application.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-454

#455 CCD-1330: Updated CVE suppression dates to 25/08/2021
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-455

#452 Rdm 12698 service config updates
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/configuration/AuthServicesJsonPropertySourceFactoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/CaseDocumentAmControllerIT.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/configuration/AuthServicesJsonPropertySourceFactory.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/AuthorisedService.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/AuthorisedServices.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/service_config.json
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-452

#456 Service config clean up
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/CaseDocumentAmControllerIT.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/service_config.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-456

#458 Revert "Revert "Service config clean up""
  src/functionalTest/resources/features/F-003/F-003_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-005/F-005_Test_Data_Base.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/CaseDocumentAmControllerIT.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/service_config.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-458

#459 Fixing metadata names to inline with DM store
  src/functionalTest/resources/features/F-001/S-001.td.json
  src/functionalTest/resources/features/F-006/S-064_Attach_Case_Id.td.json
  src/functionalTest/resources/features/F-007/F-007_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-007/S-102.td.json
  src/functionalTest/resources/features/F-007/S-103.td.json
  src/functionalTest/resources/features/F-007/S-104.td.json
  src/functionalTest/resources/features/common/case_document/Common_Response_Body_Document_Base.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/CaseDocumentAmControllerIT.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/client/dmstore/DocumentStoreClient.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/Document.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-459

#461 Revert "Temporary ignore"
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-002/F-002.feature
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-461
