Repository hmcts/ccd-case-document-am-api, pull requests merged in 2021-05, with the labels that each got.

#406 RDM-9765 Added jit pack and befta code changes
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-406

#389 RDM-11402 - added hash check enabled flag
  charts/ccd-case-document-am-api/Chart.yaml
  charts/ccd-case-document-am-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-389

#414 RDM-11396 - data-store wiring and cleanup
  Jenkinsfile_CNP
  charts/ccd-case-document-am-api/Chart.yaml
  charts/ccd-case-document-am-api/values.aat.template.yaml
  charts/ccd-case-document-am-api/values.preview.template.yaml
  charts/ccd-case-document-am-api/values.yaml
  config/owasp/suppressions.xml
  docker-compose.yml
  lib/AI-Agent.xml
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-002/F-002.feature
  src/functionalTest/resources/features/common/case/befta-jurisdiction2-case-creation/Befta_Jurisdiction2_Default_Full_Case_Response_Single_Document.td.json
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/configuration/SwaggerConfiguration.java
  src/main/resources/application.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-414

#415 temporary hack until ccd-data-store PR for secure-document-access cha…
  Jenkinsfile_CNP
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-415
