Repository hmcts/ccd-case-document-am-api, pull requests merged in 2021-11, with the labels that each got.

#497 CCD-2111: Address CVE-2021-42340
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-497

#496 Handle duplicate requests for metadata update
  src/functionalTest/resources/features/F-007/F-007-Attach_Document1.td.json
  src/functionalTest/resources/features/F-007/F-007.feature
  src/functionalTest/resources/features/F-007/S-078.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/CaseDocumentAmControllerIT.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-496

#495 created bulk_scan_orchestrator with HASHCODE permission
  README.md
  charts/ccd-case-document-am-api/Chart.yaml
  charts/ccd-case-document-am-api/values.yaml
  src/functionalTest/resources/features/F-006/F-006.feature
  src/main/resources/application.yaml
  src/main/resources/service_config.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-495

#498 CCD-2135: Address CVE-2021-22096
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-498

#500 ECM-146 - Added Ethos service
  charts/ccd-case-document-am-api/Chart.yaml
  charts/ccd-case-document-am-api/values.yaml
  src/main/resources/service_config.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-500

#501 CCD-2170: Add divorce services to CCD case am
  charts/ccd-case-document-am-api/Chart.yaml
  charts/ccd-case-document-am-api/values.yaml
  src/main/resources/service_config.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-501

#502 CCD-2177: Removed suppression of CVE-2021-33037
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-502

#503 CCD-2107: Updated CVE suppression dates
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-503
