Repository hmcts/ccd-case-document-am-api, pull requests merged in 2021-06, with the labels that each got.

#412 Feature/rdm 11131 audit logging
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/AuditEntry.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/AuditInterceptor.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/AuditLogFormatter.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/AuditOperationType.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/AuditRepository.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/AuditService.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/LogAudit.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/LoggerAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/aop/AuditAspect.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/aop/AuditContext.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/aop/AuditContextHolder.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/aop/ExpressionEvaluator.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/configuration/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/configuration/AuditConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/util/DocumentIdsExtractor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/TestFixture.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/AuditInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/AuditLogFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/AuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/LoggerAuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/aop/AuditAspectTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/auditlog/aop/ExpressionEvaluatorTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/util/DocumentIdsExtractorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-412

#387 RDM-11508: Changes and code refactoring carried out whilst reviewing doc upload code
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/exception/ErrorPersistingException.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/exception/UndefinedException.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/AuthorisedServices.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/CaseDocumentMetadata.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/CaseDocumentsMetadata.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/DocumentHashToken.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/DocumentPayloadBody.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/DocumentPermissions.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/ErrorMap.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/GeneratedHashCodeResponse.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/MetadataSearchCommand.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/PatchDocumentMetaDataResponse.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/PatchDocumentResponse.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/StoredDocumentHalResource.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/StoredDocumentHalResourceCollection.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/model/UpdateDocumentCommand.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/ValidationUtils.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/util/ApplicationUtils.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/util/ResponseHelper.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/TestIdamConfiguration.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/service/common/ValidationUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/util/ResponseHelperTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-387

#420 CCD-1245: Updated CCD definitions to 7.0.0
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/ccd/documentam/befta/CaseDocumentAmTestAutomationAdapter.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-420

#418 RDM-12413 - Integration tests for ccd-case-document-am-api
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/CaseDocumentAmControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/DocumentUploadRequest.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/fixtures/WiremockFixtures.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/utils/KeyGenUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/wiremock/WireMockTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/wiremock/extension/AbstractDynamicResponseTransformer.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/wiremock/extension/ConnectionClosedTransformer.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/wiremock/extension/DynamicOAuthJwkSetResponseTransformer.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/wiremock/extension/DynamicS2sDetailsResponseTransformer.java
  src/integrationTest/resources/application-itest.yaml
  src/integrationTest/resources/integration-test.properties
  src/integrationTest/resources/wiremock-stubs/idam/oauth-jwk-set.json
  src/integrationTest/resources/wiremock-stubs/idam/openid_config.json
  src/integrationTest/resources/wiremock-stubs/idam/user_info.json
  src/integrationTest/resources/wiremock-stubs/s2s/details.json
  src/integrationTest/resources/wiremock-stubs/s2s/lease.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-418

#426 wiring fix
  charts/ccd-case-document-am-api/Chart.yaml
  charts/ccd-case-document-am-api/values.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-426

#419 CCD-1277 CVE-2021-22118 in CCD Case Document AM API
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/resources/features/F-004/S-042.td.json
  src/functionalTest/resources/features/F-004/S-044.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-419

#428 updated suppress Until Date for false positives
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-428
