Repository hmcts/ccd-case-document-am-api, pull requests merged in 2021-08, with the labels that each got.

#463 added employment case types to moving list. Improved logging
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/ApplicationParams.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-463

#464 Added some logging. Preview wiring.
  Jenkinsfile_CNP
  charts/ccd-case-document-am-api/values.aat.template.yaml
  charts/ccd-case-document-am-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImpl.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-464

#468 CDAM - Improve error when updating metadata for moving documents
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/CaseDocumentAmControllerIT.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-468

#467 iac config
  config/owasp/suppressions.xml
  src/main/resources/service_config.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-467

#469 Suppress CVE-2021-22119
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-469

#470 whitelisted probate and iac
  charts/ccd-case-document-am-api/Chart.yaml
  charts/ccd-case-document-am-api/values.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-470

#471 Suppress CVE-2020-23171
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-471

#473 Updated CDAM config for Redaction API
  charts/ccd-case-document-am-api/Chart.yaml
  charts/ccd-case-document-am-api/values.yaml
  src/main/resources/application.yaml
  src/main/resources/service_config.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-473

#481 Updated CDAM config for Docassembly API
  charts/ccd-case-document-am-api/Chart.yaml
  charts/ccd-case-document-am-api/values.yaml
  src/main/resources/application.yaml
  src/main/resources/service_config.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-481
