Repository hmcts/ccd-case-document-am-api, pull requests merged in 2022-01, with the labels that each got.

#512 added a new Employment Tribunal service
  src/main/resources/application.yaml
  src/main/resources/service_config.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-512

#514 et_cos whitelisted
  charts/ccd-case-document-am-api/Chart.yaml
  charts/ccd-case-document-am-api/values.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-514

#517 added prl_cos_api, prl_dgs_api to whitelist
  charts/ccd-case-document-am-api/Chart.yaml
  charts/ccd-case-document-am-api/values.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-517

#515 additional permission for ethos_repl_docmosis_service
  src/main/resources/application.yaml
  src/main/resources/service_config.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-515

#513 CCD-2378: Re-enable Fortify scan
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-513

#519 Update to build.gradle
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/ccd/documentam/befta/CaseDocumentAmTestAutomationAdapter.java
  src/functionalTest/java/uk/gov/hmcts/ccd/documentam/befta/TestDataLoaderMain.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-519
