Repository hmcts/ccd-case-document-am-api, pull requests merged in 2023-02, with the labels that each got.

#634 CCD-4283 Bump rse-gradle plugin to add dependency-check v8.0.2
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-634

#638 CCD-4267
  Jenkinsfile_CNP
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-638

#629 implement retry to getDocument and getDocumentAsBinary services
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/client/dmstore/DocumentStoreClientIT.java
  src/integrationTest/resources/application-itest.yaml
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/Application.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/client/dmstore/DocumentStoreClient.java
  src/main/resources/application.yaml
Labels: ns:ccd, prd:ccd, keep-helm, rel:ccd-case-document-am-api-pr-629

#637 CCD-4317 Upgrade base charts
  charts/ccd-case-document-am-api/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-637

#635 CCD-4271 Pact Provider Test adoption_cos_api -> case-document-am-api …
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/CaseDocumentAmProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/ContractConfig.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-635
