Repository hmcts/ccd-case-document-am-api, pull requests merged in 2025-06, with the labels that each got.

#731 CME-553: ccd-case-document-am-api: JitPack being deprecated for Azure…
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-731

#684 implement streamDocumentBinaryContentByDocumentId
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/ContractConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/ccd/documentam/controller/CaseDocumentAmControllerIT.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/ApplicationParams.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/StartupConfigPrinter.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/client/dmstore/DocumentStoreClient.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/configuration/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/controller/advice/CaseDocumentControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/CaseDocumentAmController.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/client/dmstore/DocumentStoreClientStreamingTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/controller/advice/CaseDocumentControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/controller/endpoints/CaseDocumentAmControllerTest.java
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/service/impl/DocumentManagementServiceImplTest.java
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-case-document-am-api-pr-684

#733 add new test cases for DocumentStoreClient
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/client/dmstore/DocumentStoreClientTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-733

#735 add new test cases for DocumentStoreClient
  src/test/java/uk/gov/hmcts/reform/ccd/documentam/client/dmstore/DocumentStoreClientTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-document-am-api-pr-735
